.auction-house-portal{
    background: url("../../public/Rectangle 13.png") no-repeat center center/cover;
    min-height: 100vh;
    padding: 32px 32px;
    @media(max-width:1200px){
        
        
        padding: 0px;
    }
    .auction-house-portal-inner-wrapper{
     display: flex;
     justify-content: space-between;
     margin-top: 24px;
     padding: 24px;
     

     @media(max-width:1200px){
        flex-direction: column;
        align-items: center;
     }
     .auction-machine-wrapper{
        @media(max-width:1200px){
            order: 1;
            margin-top: 16px;
         }
     }
     .dropdown-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width:1200px){
            order: 0;
         }
        .modal-container{
            margin-top: 5px;
          
        }
     }
    }
}