.main-menu-container{
    background: url("./Rectangle2.png") no-repeat center center/cover;
    min-height: 160vh;
    padding: 0 40px;
    @media(max-width:768px){
        min-height: 100vh;
        padding-bottom: 128px;
    }
    
    .main-menu-inner-wrapper{
        
        min-height: inherit;
        display: flex;
    justify-content: space-between;
    @media(max-width:768px){
        flex-direction: column;
        align-items: center;
    }
    .side-bar-wrapper{
        min-height: inherit;
        @media(max-width:768px){
            order: 1;
        }
    }
    .card-wrapper{
       
        display: flex;
        flex-direction: column;
        
        // justify-content:flex-start;
        align-items: flex-end;
        // border: 2px solid red;
        margin-top: 48px;

        .pawn-shop-card{
            background: url('./Rectangle 21.png') no-repeat center  center/cover;
            min-width: 328px;
            min-height: 244px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-bottom: 40px;
            div{
                font-size: 56px;
line-height: 56px;

color: #FFFFFF;

width: 80%;


text-shadow: -19px 22px 0px rgba(0, 0, 0, 0.6);
@media(max-width:768px){
    font-size: 32px;
line-height: 32px;
}

            }
            @media(max-width:768px){
                order: 0;
                margin-bottom: 170px;
                min-width: 246px;
                min-height: 249px;
            }
        }
        .main-menu-card-container{
         @media(max-width:768px)   {
            display: none;
         }
        }
    }
        
    }
}