.shop-interface{
    background: url("./Rectangle 12.png") no-repeat center center/cover;
    min-height: 100vh;
    padding: calc(126px/2);
    @media(max-width:768px){
        padding: 64px 12px;

    }
    .shop-interface-inner-wrapper{
        // border: 2px solid green;
        .heading-container{
            // border: 2px solid red;
            text-align: center;
            margin-bottom: 92px;
            .heading{
                // border: 2px solid blue;
                font-size: 56px;
line-height: 77px;
color: #FFFFFF;
@media(max-width: 768px){
    font-size: 32px;
line-height: 44px;
}

            }
            .sub-heading{
                // border: 2px solid black;
                font-size: 24px;
line-height: 33px;
color: #FFFFFF;
@media(max-width:768px){
    font-size: 14px;
line-height: 19px;
}


            }
        }
        .cards-container{
            // border: 2px solid blue;
            display: flex;
            justify-content: space-between;
           @media(max-width:768px){
            display: none;
           }
        }
        .cards-container-mobile{
            display: none;
            @media(max-width:768px){
                display: block;
                // border: 2px solid green;
            }

        }
        .mobile-slider-btns{
            // border: 2px solid blue;
           
            display: none;
            @media(max-width:768px){
                display: flex;
            justify-content: space-between;
            align-items: center;
            }
            .btn{
                background: #1E2023;
                width: 30px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .bars-container{
                display: flex;
                .bar{
                    width: 25.39px;
height: 6.35px;

background: #313131;
margin-right: 7px;
                }
                .active{
                    width: 50.78px;
                    background: white;
                }
            }
        }
    }
}