.progress-bar-wrapper{
    // border: 2px solid red;
    .lable{
        font-weight: 400;
font-size: 40px;
line-height: 55px;
color: #FFFFFF;
margin-bottom: 18px;
@media(max-width:768px){
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 33px;
}
    }
    .progress-bar{
        border: 2px solid #FFFFFF;
        padding: 10px;
        height: 56px;
        min-width: 671px;
        display: flex;
        align-items: center;
        @media(max-width:768px){
            min-width: unset;
            width: 90vw;
        }

        

    }
}