.hottest-item-dropdown{
 background: url('../../public/Rectangle 55.png') no-repeat center center/cover;
 width: 547px;
 height: 64px;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 .dropdown-inner-wrapper{
    
    .heading{
        font-size: 24px;
line-height: 33px;
color: #8C8C8C;


    }
   .down-arrow{
    margin-left: 5px;
   }

 }
}
.dropdown-items-container{
   background: url('../../public/Rectangle 56.png') no-repeat center center/cover;

   width: 547px;
   height: 512px;
   padding: 24px;


   .inner-wrapper{
    

       .heading-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        
        
        .heading{
            font-size: 24px;
    line-height: 33px;
    color: #8C8C8C;
    
    
        }
       .up-arrow{
        margin-left: 5px;
       }
       }
       .items-container{
        
        margin-top: 24px;
        overflow-y: auto;
        max-height: 340px;
        .item{
            display: flex;
            justify-content: space-between;
            
            margin-bottom: 32px;
            .left-section{
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                img{
                    height: 40px;
                    width: 40px;
                    border: 1px solid white;
                    object-fit: contain;
                    max-width: 100%;
                    margin: 0px 8px;
                }
            }
            .right-section{
                
                font-size: 16px;
                display: flex;
                align-items: center;
    line-height: 22px;
    :nth-child(1){
    color:  white;
    }
    :nth-child(2){
            color: #21FF5F;
        margin-left: 15px;
        margin-right: 10px;
    }
  
    
            }
        }
       }
   }
}