.buyer-machine{
 background: url('../../public/Rectangle 54.png') no-repeat  center/cover;   
//  width: calc(547px/1.07);
//  height: calc(925px/1.07);
 max-width: 547px;
 max-height: 925px;

 padding: 22px;
 @media(max-width:600px){
    min-width: 350px;
    
 }
.buyer-machine-inner-wrapper{
    
     overflow: hidden;

}
 .heading{
    font-size: 24px;
    line-height: 33px;   
    color: #8C8C8C;
    margin-bottom: 16px;
    text-align: center;
 }
 .selector{
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    
    .selector-inner-wrapper{
        display: flex;
        
        justify-content: center;
        margin: 18.6px 0px;
       
.btn-text{
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin:0px 24px;
}
    }
 }
 .nfts-container{
    
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
    row-gap: 24px;
    padding: 8px;
    max-height: 460px;
    overflow-y: auto;
    align-items: center;
    overflow-x: hidden;
    // @media(max-width:600px){
    //     grid-template-columns: auto auto;
        
    //  }
    .collection{
        // actually we need an image along with question logo here, 
        background: url('../../public/collectionbg.svg') no-repeat center center/cover;
        height: 131px;
        width: 131px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:768px){
            height: 88px;
            width: 88px;
           }
        .image-container{
            height: 100px;
            width: 100px;
            @media(max-width:768px){
                height: 80px;
                width: 80px;
               }
               
            
            img{
object-fit: contain;
max-width: 100%;
            }
            svg{
object-fit: contain;
max-width: 100%;
            }
        }
    }
    .collection-active{
        
    }
 }
 .buy-section{
    
    
    .inner-wrapper{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px 0px;
        .left-section{
            :nth-child(1){
                font-size: 24px;
                line-height: 33px;
                color: #FFFFFF;
                
            }
            :nth-child(2){
                font-size: 16px;
line-height: 22px;
color: #8C8C8C;

            }

    
        }
    }
 }
 .bottom{
    
    .inner-wrapper{
        
        display: flex;
        align-items: center;
        justify-content:space-between;
        :nth-child(1){
            font-size: 24px;
line-height: 33px;
color: #FFFFFF;


        }
        :nth-child(2){
            font-size: 24px;
            line-height: 33px;
            text-align: right;
            color: #FFFFFF;
        }
    }
 }
}